html{
    height: 100%;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#balk {
    background-color:rgb(211, 40, 40);
}

#container {
    background-color:black;
    height: 100%;
    width: 100%;
    display: flex;
}

h1 {
    color: white;
}

p1 {
    color: white;
}

p2 {
    color: white;
}

.tekst{
    width: 750px;
    padding: 10px;
    border: 5px solid gray;
    margin-left: 1%;
    margin-top: 1%; 
}

#berichten{
    width: 100%;
    height: 15%;
    display: flex;
}

