html{
    height: 100%;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#balk {
    background-color:rgb(211, 40, 40);
}

#container {
    background-color:black;
    height: 100%;
    width: 100%;
    display: flex;
}

.tekst{
    color:white; 
    width: 750px;
    padding: 10px;
    border: 5px solid gray;
    margin-left: 1%;
    margin-top: 1%; 
}

.alinea{
    color:white; 
    width: 750px;
    padding: 10px; 
    border: 5px solid gray;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.insta{
    color: white;
    width: 750px;
    padding: 10px;
    border: 5px solid gray;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%; 
}

#berichten{
    color:white;
    width: 100%;
    height: 15%;
    display: flex;
}

.foto{
    width: 100%;
    margin-top: 1%;
    margin-left: 5%;
}

.wedstrijden{
    color:white; 
    width: 750px;
    padding: 10px; 
    border: 5px solid gray;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.poule{
    color:white; 
    width: 750px;
    padding: 10px; 
    border: 5px solid gray;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.uitslagen{
    color:white;
    width: 750px;
    padding: 10px; 
    border: 5px solid gray;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.picture{
    width: 100%;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

