html{
    height: 100%;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100%;
}

#balk {
    background-color: white;
    width: 80%;
    height: 15%;
}

#container {
    background-color: yellow;
    width: 80%;
    Height: 75%;
    display: flex;
}

#menu {
    background-color: indianred;
    width: 20%;
    Height: 100%;
}

#berichten {
    background-color: grey;
    width: 55%;
    Height: 100%;
}

#plaatjes {
    background-color: purple;
    width: 25%;
    Height: 100%;
}

.boodschap {
    background-color: white;
    border: 12px solid black;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 12px;
}